.main_chat
 .main_chat__group_info
  .group_data
   .group_data__groupname
    test
   .group_data__groupmember
    Member:masa
  .edit
   =link_to "Edit", "#", class:"edit__btn"
 .main_chat__message_list
  .message_block
   .message_data
    .message_data__name
     masa
    .message_data__timestamp
     2019/11/20(Wed) 17:43:01
   .message_block__text
   おはよう！
  
  .message_block
   .message_data
    .message_data__name
     masa
    .message_data__timestamp
     2019/11/20(Wed) 17:43:01
   .message_block__text
   おはよう！
 .main_chat__message_form
  %form.new_message
   .input-items
    %input{type: "text",class:"input-items__text", placeholder:"type a message"}
    %label{class: "input-items__image"}
     = icon('fas', 'image')
     %input{type:"file", class:"input-items__image__file"}
   %input{type:"submit", value:"Send", class:"submit-btn"}