.message_block
  .message_data
    .message_data__name
      = message.user.name
    .message_data__timestamp
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message_block__text
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?
