.side_bar
 .side_bar__username
  .top-items
   = current_user.name
   .top-items__icons
    =link_to new_group_path(current_user), class:"icon-a" do
     =icon('far','edit')
    =link_to edit_user_path(current_user), class:"icon-b" do
     =icon('fas','cog')

 .GroupList
  - current_user.groups.each do |group|
   .Group
    = link_to group_messages_path(group) do
     .Group__name
      = group.name
     .Group__message
      = group.show_last_message