* {
  box-sizing: border-box;
}

@mixin center($justify:center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

.wrapper{
  display: flex;
}

.side_bar{
  width:300px;
  background-color: #2f3e51;
  height:100vh;
  &__username{
    background-color:#253141 ;
    height:100px;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
  }
}



.top-items{
  background-color:#253141 ;
  width: 260px;
  height: 20px;
  @include center(space-between);
  &__icons{
    height: 20px;
    width:60px;
    @include center(flex-end);
    .icon-a{
      color:white;
      padding-right: 5px;
    }
    .icon-b{
      color:white;
    }
  }
}

.GroupList{
  background-color:#2f3e51;
  height: calc(100vh - 100px);
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  color: white;
  .Group{
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    text-decoration: none;
    &__name{
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__message{
      font-size: 11px;
    }
    .group_info{
      color: white;
      text-decoration: none;
    }
}
}


.main_chat{
  width:100vw;
  background-color:#fafafa;
  height:100vh;
  position: relative;
  &__group_info{
    height:100px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    @include center(space-between);
    align-items: center;
  }
  &__message_list{
    height:calc(100vh - 190px);
    padding-left: 40px;
    overflow: scroll;
  }
}

.Footer{
    height:90px;
    background-color:#d2d2d2;
    padding:20px 40px 20px 50px;
    }


.group_data{
  padding-top: 35px;
  padding-bottom: 0px;
  height:100px;
  &__groupname{
    color: #333333;
    font-size: 20px;
    height: 30px;
  }
  &__groupmember{
    margin-top: 15px;
    color: #999999;
    font-size: 12px;
    height: 20px;
  }
}

.edit{
  @include center(flex-end);
  color: #38aef0;
  font-size: 16px;
  border: 1px solid #38aef0;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  &__btn{
    text-decoration: none;
    color: #38aef0;
  }
}

.message_block{
  padding-top: 35px;
  padding-bottom: 11px;
  &__text{
    margin-top: 12px;
    color: #434A54;
    font-size: 14px;
  }
}

.message_data{
  @include center(flex);
  &__name{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
  }
  &__timestamp{
    color: #999999;
    font-size: 12px;
  }
}

.Form{
  height: 50px;
  @include center(space-between);
  &__contents{
    width: 100%;
    position: relative;
    @include center(space-between);
  }
  &__inputContent{
      height:50px;
      width: 100%;
      color: #434A54;
      border-style: none;
      padding: 0 0px 0 10px;
    }
  &__inputImage{
      position: absolute;
      right: 10px;
      font-size: 1.3rem;
  }
  
  &__Hidden{
    display: none;
      }
  
  &__submit{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    border-style: none;
    
  }
}

